input[type=range] {
  height: 8px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #0099cc;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #919191;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #90d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #0099cc;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #919191;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #90d0ff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0099cc;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #0099cc;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: 1px solid #919191;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #90d0ff;
  cursor: pointer;
}
label[id$=".label"] {
  margin-top: 5px;
  margin-right: 4px;
}

ul[id="panelConSeparadores.ul"] {
  display: flex;
  margin: auto;
  list-style-type: none;
}

/* li[id="panelConSeparadores.item"] {
  padding-left: 10pt;
  padding-right: 10pt;
  text-decoration: none;
} */

[class="_TabbedPanel.li"] {
  padding-left: 10pt;
  padding-right: 10pt;
  text-decoration: none;
}

[class="_TabbedPanel.a"] {
  text-decoration: none;
}