/* Definición de estilos por clase */
.btn-blue {
  background-color: blue;
  color: white;
  border-radius: 4pt;
  padding: 4pt 10pt 4pt 10pt;
}

.btn-blue:hover {
  background-color: green;
}

.font10 {
  font-size: 10pt;
}

.font12 {
  font-size: 12pt;
}

.font14 {
  font-size: 14pt;
}

/* Definición de estilos por id */
#field1:hover, #field1:focus {
  background-color: yellow;
}
